In [0]:
pip install pyspark

In [0]:
from pyspark import SparkContext

In [0]:
sc=SparkContext()

In [27]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://mirror.its.dal.ca/apache/spark/spark-2.4.0/spark-2.4.0-bin-hadoop2.7.tgz
!tar xvf spark-2.4.0-bin-hadoop2.7.tgz
!pip install -q findspark

tar: spark-2.4.0-bin-hadoop2.7.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now

In [0]:
from pyspark import SparkContext
sc=SparkContext()

In [0]:
import os

In [0]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.0-bin-hadoop2.7"

In [30]:
os.listdir('./sample_data')

['anscombe.json',
 'README.md',
 'mnist_train_small.csv',
 'california_housing_test.csv',
 'mnist_test.csv',
 'california_housing_train.csv']

In [0]:
file_loc = './sample_data/california_housing_train.csv'

In [0]:
import findspark
findspark.init()

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
df = spark.read.csv(file_loc, inferSchema=True, header =True)

In [40]:
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [45]:
df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [0]:
%%writefile ex.txt
first line
second line 
third line
fourth line

In [0]:
pip install py4j

In [0]:
#RDD Object 
textFilek=sc.textFile("ex.txt")

In [0]:
textFilek.count()

In [0]:
textFilek.first()

In [0]:
#sample transformation using filter 
secfind=textFilek.filter(lambda line: 'second' in line)

In [0]:
secfind.collect()#performing action on transformation

In [0]:
secfind.count()

In [48]:
%%writefile ex2.txt
first
second
third 
fourth

Overwriting ex2.txt

In [0]:
text_rdd=sc.textFile("ex2.txt")

In [0]:
words=text_rdd.map(lambda line:line.split())#array of arrays of every line with splitted words

In [0]:
words.collect()#complete array of single line of word splitted

In [0]:
text_rdd.flatMap(lambda line:line.split()).collect()#list of words splitted

In [57]:
#key value pair RDD
%%writefile serv.txt
#EventId    Timestamp    Customer   State    ServiceID    Amount
201       10/13/2017      100       NY       131          100.00
204       10/18/2017      700       TX       129          450.00
202       10/15/2017      203       CA       121          200.00
206       10/19/2017      202       CA       131          500.00
203       10/17/2017      101       NY       173          750.00
205       10/19/2017      202       TX       121          200.00

Writing serv.txt

In [0]:
serv=sc.textFile('serv.txt')

In [60]:
serv.take(2)

['#EventId    Timestamp    Customer   State    ServiceID    Amount',
 '201       10/13/2017      100       NY       131          100.00']

In [62]:
serv.map(lambda line:line.split()).take(3)

[['#EventId', 'Timestamp', 'Customer', 'State', 'ServiceID', 'Amount'],
 ['201', '10/13/2017', '100', 'NY', '131', '100.00'],
 ['204', '10/18/2017', '700', 'TX', '129', '450.00']]

In [0]:
clean = serv.map(lambda line:line[1:] if line[0]=='#' else line).collect()

In [0]:
clean = clean.map(lambda line:line.split())

In [0]:
clean.collect()

In [0]:
clean.map(lambda lst:(lst[3],lst[-1])).collect()#taking column of state and amount

In [0]:
painrs=clean.map(lambda lst:(lst[3],lst[-1]))

In [0]:
rekey=pairs.reduceByKey(lambda a1,a2:float(a1)+float(a2))

In [0]:
rekey.collect()

In [0]:
#grabb state and amount
step1=clean.map(lambda lst:(lst[3],lst[-1]))
#reduce by key
step2=step1.reduceByKey(lambda a1,a2:float(a1)+float(a2))
#get rid of state amount title
step3=step2.filter(lambda x:not x[0]=='State')
#sort results by amount
step4=step3.sortBy(lambda stAmt:stAmt[1],ascending=False)
#action
step5=step4.collect()

In [67]:
#tuple unpacking
x=['ID','State','Amount']
def id_st_Amt(id_St):
  #unpack values
  (id,St,amt)=id_St
  return amt
print(id_st_Amt(x))

Amount